{% extends "base.html" %}

{% block site_meta %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "LearningResource",
    "@id": "https://elixir-fair-training.github.io/FAIR-training-handbook/",
    "http://purl.org/dc/terms/conformsTo": {
        "@type": "CreativeWork",
        "@id": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE"
    },
    "description": "Handbook for making training materials FAIR",
    "keywords": "FAIR, OPEN, Bioinformatics, Teaching, Train-the-trainer",
    "name": "FAIR training handbook",
    "license": "https://creativecommons.org/licenses/by/4.0/"
}
</script>
{% endblock %}
