site_name: FAIR training handbook
nav:
    - Home: index.md
    - Chapters:
      - "Preface": chapters/Preface.md
      - "1. Why FAIR training & training materials?": chapters/chapter_01.md
      - "2. Choose material types and formats that facilitate FAIRness": chapters/chapter_02.md
      - "3. Get ready to create your materials or reuse": chapters/chapter_03.md
      - "4. Use metadata to describe training materials": chapters/chapter_04.md
      - "5. Get a persistent identifier for your training material": chapters/chapter_05.md
      - "6. Make it accessible": chapters/chapter_06.md
      - "7. Make it reusable": chapters/chapter_07.md
      - "8. Provide a license": chapters/chapter_08.md
      - "9. Boost discoverability": chapters/chapter_09.md
      - "10. Recognition, acknowledgment, authorship": chapters/chapter_10.md
    - Keywords list: keywords.md
    - Contributors: contributor_list.md

theme:
  name: material
  logo: assets/images/white-orange-logo.png
  favicon: assets/images/elixir_favicon.ico
  custom_dir: overrides
  features:
    - navigation.top
    - navigation.footer
    - toc.integrate
  font: 
    text: Lato

# Repository
repo_name: elixir-europe-training/FAIR-training-handbook
repo_url: https://github.com/elixir-europe-training/FAIR-training-handbook
edit_uri: edit/main/docs/

plugins:
  - tags:
      tags_file: keywords.md
  - search
  - bibtex:
      bib_file: "references.bib"
  - mkdocs-video # embed videos to the docs

markdown_extensions:
  - abbr
  - def_list
  - footnotes
  - tables
  - admonition
  - codehilite:
      guess_lang: false
  - sane_lists
  - smarty
  - toc
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - neoteroi.cards

extra_css:
  - stylesheets/extra.css
  - stylesheets/neoteroi-mkdocs.css