name: render page

on:
  push:
    branches:
      - main 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: |
          pip install mkdocs-material mkdocs-bibtex neoteroi-mkdocs mkdocs-video
          mkdocs gh-deploy --force
